.default-background-color {
    background-color: rgb(219 219 219);
}

.task-accordion-item {
    margin-top: 30px;
    border: none;
}

.task-accordion-title {
    font-size: 1.4rem;
    font-weight: 600;
}

.task-accordion-header {
    /*background-color: #f5f5f5 !important;*/
    background-color: var(--bs-body-bg) !important;
    padding: 6px;
}

.task-acorddion-add-task-button {
    display: inline-block;
    padding: 0px 6px 6px 0px;
    margin: 0px 0px 8px 0px;
    margin-left: 30px;
    cursor: pointer;
    color: green;
    font-weight: 500;
    /*color: lightgray;*/
}

.task-group {
    padding: 20px;
}

.task-accordion-group-title {
    font-size: 1rem;
    font-weight: 600;
}



.main-footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    width: 100%;
    min-height: 50px;
}

.task-card {
    padding: 12px 12px 0px 12px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    /*background-color: #fbfbfb;*/
    background-color: #fdfdfd;
    border-radius: 8px;
}

.form-check-input:checked {
    background-color: green;
}
