::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {
    display: flex;
}

#group-sidebar {
    position: fixed !important;
    right: 0;
    top: 0;
    height: 100vh;
    width: 0px;
    min-width: 0;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #252525;
    padding-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

#group-sidebar.expand {
    width: 360px;
    min-width: 360px;
}

#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem .925rem;
}

#toggle-btn img {
    width: 30px;
    height: 30px;
}

.group-sidebar-logo {
    margin: auto 0;
}

.group-sidebar-logo a {
    color: #fff;
    font-size: 1.15rem;
    font-weight: 600;
}

#group-sidebar:not(.expand) .group-sidebar-logo,
#group-sidebar:not(.expand) a.group-sidebar-link .titulo-item-group-sidebar {
    display: none;
}

.group-sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.group-sidebar-link {
    padding: .625rem .9rem;
    color: #414141;
    display: block;
    font-size: .9rem;
    font-weight: 600;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

a.group-sidebar-link span {
    margin-right: .75rem;
}

a.group-sidebar-link img {
    width: 20px;
    height: 20px;
}

.group-sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.group-sidebar-link:hover {
    /*background-color: rgba(255, 255, 255, .075);*/
    /*border-left: 3px solid #3b7ddd;*/
}

.group-sidebar-item {
    position: relative;
}

#group-sidebar:not(.expand) .group-sidebar-item .group-sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #dbdbdb;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#group-sidebar:not(.expand) .group-sidebar-item:hover .has-dropdown+.group-sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#group-sidebar.expand .group-sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#group-sidebar.expand .group-sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2 ease-out;
}
